<div class="form-group">
<%= form_for :reservation, url: restaurant_reservations_path(params[:id]) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control', :value => (current_user.name if current_user)%>

  <%= f.label "Date" %>
  <%= f.date_field :date, class: 'form-control'  %>

  <%= f.label :time %>
  <%= f.time_select :time, class: 'form-control', minute_step: 15  %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control', :value => (current_user.email if current_user) %>

  <%= f.label :notes %>
  <%= f.text_field :notes, class: 'form-control'  %>

  <%= f.submit 'Make Reservation', :class => 'btn btn-primary' %>

<% end %>
</div>
