<h1>Your Reservations</h1>

<%= "No reservations" if @reservations.empty? %>
<% @reservations.each do |reservation| %>
<div class="card text-center" style="max-width: 30%; float: left; margin: 10px; display: inline-block;">

  <!-- Heading -->
  <div class="card-body">
  <h4 class="card-title"><%= link_to reservation.restaurant.name, restaurant_path(reservation.restaurant.id), :class => 'restaurant_name' %></h4>
  <h6 class="card-subtitle text-muted"><%= dateformat(reservation.date_time) %></h6>
  </div>

  <!-- Image -->
  <%= link_to image_tag(reservation.restaurant.pic_url), restaurant_path(reservation.restaurant.id), alt: "#{reservation.restaurant.name}", :class => 'card_image' %>

  <!-- Text Content -->
  <div class="card-body">
  <p class="card-text"><%= reservation.restaurant.description %></p>
  <%= link_to 'Cancel', user_user_reservation_path(@user.id, reservation.id), :class => 'btn btn-danger', method: :delete, :data => {:confirm => ("Are you sure?")}  %>  <%= link_to 'Edit', edit_user_user_reservation_path(@user.id, reservation.id), :class => 'btn btn-primary'%>
  </div>

</div>
<% end %>
