<% if current_user %>
        Signed in as <%= current_user.email %> <%= link_to "Create Restaurant", new_restaurant_path%> <div class = 'logout'> <%= link_to "Log out", sessions_path, :method => :delete %></div>
      <% else %>
        <%= link_to "Log in", new_sessions_path %> or <%= link_to "Sign up", new_user_path %>
      <% end %>

<h1>All restaurants</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <h2><%= restaurant.name %> | <%= link_to 'Reserve now!', restaurant_path(restaurant.id) %></h2>
      <p><%= restaurant.address %></p>
      <p><%= restaurant.description %></p>
    </li>
  <% end %>
</ul>
