<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.description %></p>


<%= form_for :reservation, url: restaurant_reservations_path(params[:id]) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label "Date" %>
  <%= f.date_field :date %>

  <%= f.label :time %>
  <%= f.time_field :time %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :notes %>
  <%= f.text_field :notes %>

  <%= f.submit %>

<% end %>

<% @reservations.each do |reservation| %>
  <ul>
    <li><%= reservation.name %> <%= dateformat(reservation.date_time) %></li>
  </ul>
<% end %>
