<h2>All my restaurants |
  <% if current_user &&  current_user.role == 'owner'%>
  <%= link_to 'Create Restaurant', new_restaurant_path, :class => 'btn btn-danger' %>
  <% end %>
  </h2>
<% @restaurants.each do |restaurant| %>
<% if restaurant.reservations.present? %>
<h3><%= restaurant.name %></h3>
<p><%= restaurant.address %></p>
<table class="table table-hover" style="width: 60%;">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Name</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>

    <% restaurant.reservations.each do |reservation| %>
    <tr>
      <th scope="row"><%= num =+ 1 %></th>
      <td><%= dateformat(reservation.date_time) %></td>
      <td><%= reservation.name %></td>
      <td><%= reservation.notes %></td>
    </tr>
    <% end %>
  </tbody>
  <hr style="background: red;" />
</table>

<% end %>
<% end %>
