<!DOCTYPE html>
<html>
<head>
  <title>SitDown</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:notice]%>
        <div class="alert alert-warning"><%= flash[:notice] %></div>
  <% elsif flash[:alert] %>

        <div class="alert alert-danger"><%= flash[:alert] %></div>
  <% elsif flash[:success] %>

        <div class="alert alert-success"><%= flash[:success] %></div>
  <% end %>
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a href="/" class="navbar-brand">Sit Down</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar6">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-stretch" id="navbar6">
      <form class="ml-3 my-auto d-inline">
          <div class="input-group">
            <input type="text" class="form-control border-right-0" placeholder="...">
            <span class="input-group-btn">
              <button class="btn btn-outline border-left-0" type="button">Search</button>
            </span>
          </div>
      </form>
        <ul class="navbar-nav ml-auto">
          <% if current_user %>
            <li class="nav-item active">
                <span class="nav-link" href="#">Welcome <%= current_user.name %>!</span>
            </li>
            <li class="nav-item"><%= link_to "My Reservations", user_user_reservations_path(current_user.id), :class => 'nav-link' %></li>
            <% if current_user.role == 'owner' %>
            <li class="nav-item"><%= link_to "My Restaurants", user_user_restaurants_path(current_user.id), :class => 'nav-link' %></li>
            <% end %>
            <li class="nav-item"><%= link_to "Settings", user_path(current_user.id), :class => 'nav-link' %>
            </li>
            <% else %>
            <li class="nav-item"><%= link_to "Log in", new_sessions_path, :class => 'nav-link' %></li>
            <li class="nav-item"><%= link_to "Sign up", new_user_path, :class => 'nav-link' %></li>
            <% end %>
        </ul>
    </div>
</nav>
</div>
<main>
<%= yield %>
</main>
</body>
</html>
